button{
    background-color: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 125px;
    height: 30px;

}
button:hover{
    background-color: lightblue;
}
body{
    background-color: lightgrey;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th{
    background-color: lightblue;
}
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #CCC;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 100px;
    border-radius: 10px;
    background-color: white;
    justify-content: space-between;
    gap: 5px;

}
.desc{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
}
.header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: deepskyblue;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
}
.footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: right;
}

.dropbtn {
    background-color: deepskyblue;
    width: 125px;
    height: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: lightskyblue;}